services:
  caddy:
    image: caddy:2
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    environment:
      TPI_DOMAIN: ${TPI_DOMAIN}
      TPI_UPSTREAM: ${TPI_UPSTREAM:-host.docker.internal:8090}
      TPI_AUTH_USER: ${TPI_AUTH_USER}
      TPI_AUTH_HASH: ${TPI_AUTH_HASH}
    extra_hosts:
      - "host.docker.internal:host-gateway"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile:ro
      - caddy_data:/data
      - caddy_config:/config

volumes:
  caddy_data:
  caddy_config:
